<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.keyword.dao.KeywordDao">

	<select id="get" resultType="com.bootdo.keyword.domain.KeywordDO">
		select `id`,`keyword`,`idle_id` from keyword where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.keyword.domain.KeywordDO">
		select `id`,`keyword`,`idle_id` from keyword
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="keyword != null and keyword != ''"> and keyword = #{keyword} </if>
		  		  <if test="idleId != null and idleId != ''"> and idle_id = #{idleId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from keyword
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="keyword != null and keyword != ''"> and keyword = #{keyword} </if>
		  		  <if test="idleId != null and idleId != ''"> and idle_id = #{idleId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.keyword.domain.KeywordDO" useGeneratedKeys="true" keyProperty="id">
		insert into keyword
		(
			`keyword`, 
			`idle_id`
		)
		values
		(
			#{keyword}, 
			#{idleId}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.keyword.domain.KeywordDO">
		update keyword 
		<set>
			<if test="keyword != null">`keyword` = #{keyword}, </if>
			<if test="idleId != null">`idle_id` = #{idleId}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from keyword where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from keyword where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>